<% include partials/header %>

<center>
  <h1>Kitchen Order Table</h1>
</center>



<form class="ui form" action="/" method="POST">
  <div class="five wide field">
    <h3>Location ID</h3>
    <input type="text" name="location" placeholder="Location ID">
  </div>
  <button class="ui blue button">Get Orders List</button>
</form>

<!-- <div class="ui  container" ></div> -->
<table class="ui celled structured table">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Ticket ID</th>
      <th>Date</th>
      <th>Time</th>
      <th>Status</th>
      <th>Items</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>name</th>
      <th>units</th>
      <!-- <th>status</th> -->
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < orderData.length; i++) { %>
    <tr>
      <td><%= orderData[i].orderID %></td>
      <td><%= orderData[i].tickets[0].id %></td>
      <td><%= orderData[i].date %></td>
      <td><%= orderData[i].time %></td>
      <!-- <td><Chip color="primary" variant="outlined" size="small" label="Basic" /></td> -->
      <% if(orderData[i].status == 1){ %>
        <td class="center aligned"><a class="ui teal basic label">Delivered</a></td>
      <% }else if(orderData[i].prepared == 1){ %>
        <td class="center aligned"><a class="ui yellow basic label">Prepared</a></td>
      <% }else if(orderData[i].accepted == 1){ %>
        <td class="center aligned"><a class="ui blue basic label">Accepted</a></td>
      <% } %>
      <!-- <td><%= orderData[i].status %></td>  -->
      <td>
        <% for(var j=0; j < orderData[i].tickets[0].items.length; j++) { %>
        <%= orderData[i].tickets[0].items[j].name %> <br>
        <%} %>
      </td>
      <td>
        <% for(var j=0; j < orderData[i].tickets[0].items.length; j++) { %>
        <%= orderData[i].tickets[0].items[j].units %> <br>
        <%} %>
      </td>
      <!-- <td><button id='<%= i+1 %>' onclick="setPreparedFlag('<%= orderData[i].tickets[0].id %>', '<%= i+1 %>')" class="ui teal button" >Prepared</button></td> -->
    </tr>
    <% } %>
  </tbody>
</table>
<!-- </div> -->

<script>
  // setTimeout(function () {
  //   window.location.reload(1);
  // }, 5000);

  function setPreparedFlag (ticketID, i){
    $.post(`${'<%= process.env.API %>'}/setpreparedflag`, {ticketID: ticketID}, function(data, status){
      console.log(status)
      $( `table tr:nth-child(${i})` ).css("background-color", "grey");
      $(`#${i}`).hide();
  });
  }
</script>
<% include partials/footer %>