<% include partials/header %>

<center>
  <h1>Kitchen Order Table</h1>
</center>

<form class="ui form" action="/" method="POST">
  <div class="five wide field">
    <h3>Location ID</h3>
    <input type="text" name="location" placeholder="Location ID">
  </div>
  <button class="ui blue button">Get Orders List</button>
</form>

<table class="ui celled structured table">
  <thead>
    <tr>
      <th class="four wide" rowspan="2">Order ID</th>
      <th class="four wide" rowspan="2">Ticket ID</th>
      <th class="eight wide" colspan="3">Items</th>
    </tr>
    <tr>
      <th>name</th>
      <th>units</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < orderData.length; i++) { %>
    <tr>
      <td><%= orderData[i].orderID %></td>
      <td><%= orderData[i].tickets[0].id %></td>
      <td>
        <% for(var j=0; j < orderData[i].tickets[0].items.length; j++) { %>
        <%= orderData[i].tickets[0].items[j].name %> <br>
        <%} %>
      </td>
      <td>
        <% for(var j=0; j < orderData[i].tickets[0].items.length; j++) { %>
        <%= orderData[i].tickets[0].items[j].units %> <br>
        <%} %>
      </td>
      <td><button id='<%= i+1 %>' onclick="setPreparedFlag('<%= orderData[i].tickets[0].id %>', '<%= i+1 %>')" class="ui teal button" >Prepared</button></td>
    </tr>
    <% } %>
  </tbody>
</table>


<script>
  setTimeout(function () {
    window.location.reload(1);
  }, 5000);

  function setPreparedFlag (ticketID, i){
    $.post(`${'<%= process.env.API %>'}/setpreparedflag`, {ticketID: ticketID}, function(data, status){
      console.log(status)
      $( `table tr:nth-child(${i})` ).css("background-color", "grey");
      $(`#${i}`).hide();
  });
  }
</script>
<% include partials/footer %>